<div class="dlab-bnr-inr overlay-black-dark" style="background-image:url('about-1.jpg');">
  <div class="container">
    <div class="dlab-bnr-inr-entry">
      <h1 class="text-white text-capitalize">about school</h1>
      <!-- Breadcrumb row -->
      <div class="breadcrumb-row">
        <ul class="list-inline">
          <li>
            <a href="/">
              <i class="fa fa-home"></i>
            </a>
          </li>
          <li>About School</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="content-block">
  <div class="section-full bg-white content-inner-2 about-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 teacher-content">
          <div class="split-box">
            <div class="about-media">
              <%= image_tag "building1.jpg",class: "radius-sm", alt:"about school" %>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 m-t15">
          <div class="section-head">
            <p class="ext">
              <p>“Be wise in the use of Time as lost time is never found again” The question is not How much Time do we have ? The question is “ What shall we do with it?</p>
              <p>Time management is an important aspect of human life, so that we not only do our work but also avoid unnecessary hurry and Tension. If we make a time- table and merge it effectively, we will find opportune in fulfillment but there is a need of determination and hard work to follow it.</p>
              <i><h3 style="color: red;">“This is the motto of  Shakuntlam ”.<br>
                              “Learn from Yesterday, Live for today, Hope for tomorrow”<br>
                              “Time Flies……….You’re the Pilot”</h3></i>
                              <br><br>
              <p><strong>Constitution Of LBA:</strong></p>

              <ol>
                <li>GOC 31 Armd Div. - Chairman</li>
                <li>Member Of Parliament - Member</li>
                <li>District Magistrate - Member</li><li>DIOS - JHANSI - Member</li>
                <li>Principal APS Jhansi - Member</li>
                <li>Principal Jawahar Navodaya Vidyalaya Jhansi - Member</li>
                <li>Executive Engineer, UP PWD - Member</li>
                <li>Offg. Principal Sainik School Jhansi - Member Secretary</li>
              </ol>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-full bg-white content-inner-2" style="background-image:url('pt1.png');">
    <div class="container">
      <div class="section-head text-center">
        <h2 class="title text-brown">Mission And Vision</h2>  
        <div class="dlab-separator bg-brown"></div>
      </div>
      <div class="row align-items-center about-bx2">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 border p-2 shadow rounded">
          <%= image_tag "mission.jpg",class: "img"%>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="about-box">             
            <p><strong>AIM OF THE SCHOOL</strong></p>
            <p>The Main Aim Of The School Is To Prepare The Cadets Academically, Physically And Mentally For Entry Into The Commissioned Ranks Of The Defence Services Through The National Defence Academy.</p>

            <p><strong>To Achieve This, The School Provides Comprehensive Education:-</strong></p>

            <ol>
              <li>To Bring Each Cadet To An Educational Standard That Will Enable Him To Complete Successfully In The Open Competition For Admission To The National Defence Academy.</li>
              <li>To Train Each Cadet In A Manner, Which Will Instil In Him Qualities Of Self-reliance And Confidence And Enable Him To Derive Full Benefit From The Courses Of Instruction At The National Defence Academy.</li>
              <li>To Render Cadets Physically Fit To Take Their Place At The N.D.A. And Later To Face With Courage And Endurance The Hardships Inseparable From Life In The Armed Forces.</li>
              <li>To Impart Training To All Cadets So That In Consonance With The National Spirit They Could Conduct Themselves With Confidence In Any Society, And</li>
              <li>To Infuse In All Cadets A Sense Of Loyalty, Patriotism, Individual And Corporate Responsibility For Leading A Purposeful Life As Honest And Useful Citizens Of India.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
