<footer class="site-footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-lg-3 footer-col-4">
            <div class="widget widget_getintuch">
              <h4 class="footer-title">Contact Us</h4>
              <div class="dlab-separator bg-warning"></div>
              <ul class="info-contact">
                <li>
                  <span>
                  <i class="fa fa-map-marker"></i>
                  School Address:<br />
                  <a href="https://www.google.com/maps/embed/v1/place?key=AIzaSyAulkcv0Hp4voynS3RC2OwpGvAOrx64UB8&amp;q=Agra Bah Road, Udi Mod Etawah 206131, Uttar Pradesh, India" target="_blank" data-toggle="tooltip" data-placement="top"
                    title="Find On Google Map">
                  Agra Bah Road, Udi Mod Etawah 206131
                  </a>
                  </span>
                </li>
                <li>
                  <span>
                  <i class="fa fa-phone"></i>
                  Main Office:<br />
                  <a href="tel:+91-8533012547"
                    data-toggle="tooltip" data-placement="top" title="Office Superintendent">
                  +91-8533012547                                        </a>
                  </span>
                </li>
                <li>
                  <span>
                  <i class="fa fa-envelope-o"></i>
                  Email Address:<br />
                  <a href="mailto:sainikschooljhansi@gmail.com"
                    data-toggle="tooltip" data-placement="top" title="Send Us Email">
                  shakuntalam.official@gmail.com                                        </a>
                  </span>
                </li>
                <li>
                  <span>
                  <i class="fa fa-youtube"></i>
                  Subscribe Us:<br />
                  <a href="https://www.youtube.com/channel/UCi4McVcLbGzHHgO7u4qS6Nw" data-toggle="tooltip" data-placement="top"
                    title="Subscribe Our YouTube Channel">
                  Youtube Channel
                  </a>
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <%# <div class="col-md-6 col-sm-6 col-lg-3 footer-col-4 col-6">
            <div class="widget widget_services">
              <h4 class="footer-title">Useful Links</h4>
              <div class="dlab-separator bg-warning"></div>
              <ul>
                <li><a href="https://sainikschooljhansi.com/about-school">About School</a></li>
                <li><a href="https://sainikschooljhansi.com/disclaimer">Disclaimer</a></li>
                <li><a href="https://sainikschooljhansi.com/termsconditions">Terms & Conditions</a></li>
                <li><a href="https://sainikschooljhansi.com/privacypolicy">Privacy Policy</a></li>
                <li><a href="https://sainikschooljhansi.com/refundpolicy">Refund Policy</a></li>
                <li><a href="https://sainikschooljhansi.com/tenders">Tenders</a></li>
                <li><a href="https://sainikschooljhansi.com/recruitment">Recruitments</a></li>
                <li><a href="javascript:void;">Site Map</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 footer-col-4 col-6">
            <div class="widget widget_services">
              <h4 class="footer-title">Quick Links</h4>
              <div class="dlab-separator bg-warning"></div>
              <ul>
                <li><a href="https://sainikschooljhansi.com/infrastructure/smart-classroom">Infrastructures</a></li>
                <li><a href="https://sainikschooljhansi.com/labs/mathematics-lab">Labs</a></li>
                <li><a href="https://sainikschooljhansi.com/cadets/parent-guidelines">Cadets</a></li>
                <li><a href="https://sainikschooljhansi.com/photogallery">Photo Gallery</a></li>
                <li><a href="https://sainikschooljhansi.com/videogallery">Video Gallery</a></li>
                <li><a href="https://sainikschooljhansi.com/adminstaff">Admin Staff</a></li>
                <li><a href="https://sainikschooljhansi.com/academicstaff">Academic Staff</a></li>
                <li><a href="https://sainikschooljhansi.com/contactus">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3 footer-col-4">
            <div class="widget widget_services">
              <h4 class="footer-title">Page Links</h4>
              <div class="dlab-separator bg-warning"></div>
              <ul>
                <li><a href="https://sainikschooljhansi.com/newsletter">Newslatter</a></li>
                <li><a href="https://sainikschooljhansi.com/files/sanik-school-jhansi-book.pdf" target="_blank">School Magazine</a></li>
                <li><a href="https://sainikschooljhansi.com/cbsecompliance">CBSC Complaince</a></li>
                <li><a href="https://sainikschooljhansi.com/syllabus">Syllabus</a></li>
                <li><a href="https://aissee.ntaonline.in/" target="_blank">Registration Link</a></li>
                <li><a href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm" target="_blank">Online Fees Payment</a></li>
                <li><a href="https://sainikschooljhansi.com/ncc">NCC</a></li>
                <li><a href="https://sainikschooljhansi.com/nda">NDA</a></li>
              </ul>
            </div>
          </div> %>
        </div>
      </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p>
              &copy; Copyright <%= Time.now.year %> - Sainik School Shakuntlam Etawah, All Rights Reserved.
              <br />Design, Develop & Maintained By: <a href="https://startek.in/" target="_blank" class="text-warning">Vaibhav Dwivedi</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>